.wrapper {
    position: relative;
    width: 520px;
    height: 220px;
    margin: 120px auto 0;
}

.block {
    width: 140px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #000;
    background: #0a7f0a;
    color: #000;
    position: absolute;
    bottom: 0;

}


.block--left {
    left: 60px;
}

.block--right {
    right: 60px;
}


.block--left {
    left: 60px;
}

.block--right {
    right: 60px;
}


.block--center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    width: 170px;
    height: 120px;
    line-height: 120px;
    background: #4a86d9;
    color: #fff;
    border: 1px solid #000;
    display: none;
    text-align: center;
}


.block--left:hover + .block--center {
    display: block;
}


.block--left:hover + .block--center {
    display: block;
}


.wrapper:hover .block--right:hover ~ .block--left {
    opacity: 0;
    visibility: hidden;
}